*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: white;
}

.navbar-brand {
    color :black;
    font-size: 50px;

}

.info {
    padding-top: 4rem;
}

p {
    color : gray;
}

.btn{
    background-color : #00DFC0;
    color :white;
}

.btn:hover {
    background-color : #00c5ab;
    color :white;
}

.btn-outline{
    background-color: white;
    color :#00DFC0;
    border-color: #00DFC0;
}

.pengalaman {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.kotak {
    width: 45px;
    height: 7px;
    background-color: #00DFC0;
    margin-left: auto;
    margin-right: auto;
}

.service {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.card{
    width: 300px; 
    margin-top: 3rem;
    margin-left : auto;
    margin-right: auto;
}


.Contact{
    padding-top: 5rem;
    padding-bottom: 10rem;
}


.textContact{
    padding-bottom: 1rem;
}

.kotakContact{
    background-color: white;
    border : 5px solid #00DFC0 ;
}


#exampleFormControlTextarea1{
    height: 175px;
}

footer{
    background-color: #00DFC0;
    color : white;
}

.judul-footer{
    padding-top: 1rem;
}

#logo {
    margin : auto;
}

#facebook{
    color: white;
}

#instagram{
    color: white;
}

#twitter{
    color: white;
}

.footer-text {
    color : white;
}